html, body {
  background-color: #E8ECEF;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

footer {
  background-color: #f8f9fa;
  margin-top: auto;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
}

.btn-google, .btn-facebook {
  width: 100%;
}
